.input {
    &__wrap {
        position: relative;
    }

    &__control {
        background: transparent;
        border: none;
        padding: rem(16px 0);
        width: 100%;

        &::placeholder {
            color: #8d8d8d;
        }
    }

    &__label {
        @extend %sr-only;
    }

    &--error {
        .input__control {
            border-color: #e30500;
            transition: 350ms;
            color: #e30500;
        }
    }
}
