.cashback-rules {
    &__wrap {
        @extend %container;

        border-radius: rem(40px);
        background: #fff;
        box-shadow: rem(0 27px 39px 0) rgba(0 0 0 / 4%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        z-index: 10;

        @include media-breakpoint-down(lg) {
            border-radius: rem(32px);
        }

        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr;
            text-align: center;
            margin-top: rem(-80px);
        }
    }

    &__col {
        padding: rem(80px);

        @include media-breakpoint-down(lg) {
            padding: rem(32px);
        }

        &:nth-of-type(odd) {
            border-right: 1px solid #b7b7b7;

            @include media-breakpoint-down(md) {
                border: none;
                border-bottom: 1px solid #b7b7b7;
            }
        }
    }

    &__heading {
        color: #333;
        font-size: rem(48px);
        line-height: 120%;
        letter-spacing: -2px;
        margin-bottom: rem(32px);


        @include media-breakpoint-down(lg) {
            font-size: rem(32px);
            margin-bottom: rem(24px);
        }

        @include media-breakpoint-down(md) {
            font-size: rem(20px);
            letter-spacing: -1px;
        }
    }

    &__text {
        color: #b7b7b7;
        font-size: rem(20px);
        line-height: 140%;
        font-family: Roboto, sans-serif;

        @include media-breakpoint-down(lg) {
            font-size: rem(16px);
        }
    }

    &__btn {
        @extend %btn-main;

        max-width: rem(270px);
        margin-top: rem(48px);

        @include media-breakpoint-down(lg) {
            margin-top: rem(24px);
        }

        @include media-breakpoint-down(md) {
            max-width: rem(230px);
            margin: auto;
            margin-top: rem(24px);
        }
    }
}
