.cashback {
    &__wrap {
        @extend %container;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        margin-top: rem(205px);
        margin-bottom: rem(265px);

        @include media-breakpoint-down(md) {
            min-height: 1px;
            margin-top: rem(150px);
            margin-bottom: rem(180px);
        }
    }

    &__circle {
        width: rem(630px);
        height: rem(630px);
        background: $main;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #f5f5f6;
        font-size: rem(48px);
        line-height: 90%;
        letter-spacing: -4px;
        text-align: left;

        @include media-breakpoint-down(lg) {
            width: rem(520px);
            height: rem(520px);
        }


        @include media-breakpoint-down(md) {
            width: rem(320px);
            height: rem(320px);
            font-size: rem(24px);
            letter-spacing: normal;
        }

        &::before {
            content: "";
            width: calc(100% + rem(110px));
            height: calc(100% + rem(110px));
            position: absolute;
            left: rem(-55px);
            top: rem(-55px);
            border-radius: 50%;
            background: #eaa0ad;
            z-index: -10;
            transform: scale(0);
            transition: 1000ms;

            @include media-breakpoint-down(md) {
                width: calc(100% + rem(60px));
                height: calc(100% + rem(60px));
                left: rem(-30px);
                top: rem(-30px);
            }
        }

        &::after {
            content: "";
            width: calc(100% + rem(300px));
            height: calc(100% + rem(300px));
            position: absolute;
            left: rem(-150px);
            top: rem(-150px);
            border-radius: 50%;
            background: #ebc2c9;
            z-index: -20;
            transform: scale(0);
            transition: 1000ms;

            @include media-breakpoint-down(md) {
                width: calc(100% + rem(160px));
                height: calc(100% + rem(160px));
                left: rem(-80px);
                top: rem(-80px);
            }
        }

        &::after,
        &::before {
            transform: scale(1);
            animation: pulsate 2.5s ease-out 0s infinite;
            animation-direction: normal;
        }

        &--layers {
            &::after,
            &::before {
                transform: scale(1);
                animation: pulsate 2.5s ease-out 0s infinite;
                animation-direction: normal;
            }
        }

        &-content {
            @include media-breakpoint-down(md) {
                transform: translateX(-10px);
            }

            &::before {
                content: "";
                background-image: url("@/assets/img/blur.png?as=webp");
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                inset: 0;
                margin: auto;
                border-radius: 50%;
                z-index: -1;
            }
        }

        &-number {
            text-shadow: rem(0px 20px 30px) rgba(0 0 0 / 20%);
            font-size: rem(300px);
            font-weight: 500;
            line-height: 80%;
            letter-spacing: rem(-16px);
            position: relative;
            margin-bottom: rem(44px);

            @include media-breakpoint-down(lg) {
                font-size: rem(260px);
                margin-bottom: rem(28px);
                text-shadow: rem(0px 40px 39px) rgba(91 7 21 / 25%);
            }

            @include media-breakpoint-down(md) {
                font-size: rem(152px);
                margin-bottom: rem(28px);
                text-shadow: rem(0px 40px 39px) rgba(91 7 21 / 25%);
            }

            &::before {
                content: "";
                background-image: url("@/assets/img/cashback_from.svg");
                background-repeat: no-repeat;
                width: rem(70px);
                height: rem(70px);
                background-size: contain;
                position: absolute;
                bottom: rem(15px);
                left: rem(20px);
                filter: drop-shadow(rem(0px 4px 4px) rgba(0 0 0 / 20%));

                @include media-breakpoint-down(lg) {
                    width: rem(50px);
                    height: rem(50px);
                    left: rem(15px);
                }

                @include media-breakpoint-down(md) {
                    width: rem(35px);
                    height: rem(35px);
                    left: rem(5px);
                }
            }

            &::after {
                content: "";
                background-image: url("@/assets/img/cashback_percentage.svg");
                background-repeat: no-repeat;
                width: rem(77px);
                height: rem(77px);
                background-size: contain;
                position: absolute;
                top: rem(44px);
                right: rem(-40px);
                filter: drop-shadow(rem(0px 20px 30px) rgba(0 0 0 / 20%));

                @include media-breakpoint-down(lg) {
                    width: rem(60px);
                    height: rem(60px);
                    right: rem(-30px);
                    top: rem(30px);
                }

                @include media-breakpoint-down(md) {
                    width: rem(38px);
                    height: rem(38px);
                    top: rem(10px);
                    right: rem(-25px);
                    filter: drop-shadow(rem(0 15px 30px) rgba(0 0 0 / 30%));
                }
            }
        }

        &-text {
            width: 95%;
            margin-top: rem(10px);

            &--right {
                text-align: right;
            }
        }
    }

    &__alice {
        position: absolute;
        left: rem(24px);
        top: rem(-170px);
        width: rem(236px);
        height: rem(236px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(md) {
            top: rem(-130px);
            left: rem(-10px);
            width: rem(130px);
            height: rem(130px);
        }
    }

    &__kettle {
        position: absolute;
        right: rem(-160px);
        bottom: rem(110px);
        width: rem(210px);
        height: rem(230px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(md) {
            right: rem(-35px);
            bottom: rem(50px);
            width: rem(95px);
            height: rem(102px);
        }
    }

    &__airpods {
        position: absolute;
        top: rem(-250px);
        left: rem(-340px);
        width: rem(200px);
        height: rem(200px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__airpods-max {
        position: absolute;
        top: rem(0px);
        right: rem(-460px);
        width: rem(280px);
        height: rem(300px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__donut {
        position: absolute;
        top: rem(120px);
        left: rem(-400px);
        width: rem(180px);
        height: rem(185px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(md) {
            left: rem(-50px);
            bottom: 0;
            top: 0;
            margin: auto;
            width: rem(85px);
            height: rem(90px);
        }
    }

    &__push {
        position: absolute;
        width: rem(324px);
        height: rem(200px);

        img {
            width: 100%;
            height: 100%;
        }

        @include media-breakpoint-down(md) {
            width: rem(165px);
            height: rem(100px);
        }

        &--1 {
            left: rem(-320px);
            bottom: 0;

            @include media-breakpoint-down(md) {
                left: 0;
                bottom: rem(-80px);
            }
        }

        &--2 {
            top: rem(-90px);
            right: rem(-175px);

            @include media-breakpoint-down(md) {
                right: 0;
                top: rem(-80px);
            }
        }

        &--3 {
            right: rem(-190px);
            bottom: rem(-150px);

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    &__cheese {
        position: absolute;
        bottom: rem(-200px);
        right: 0;
        left: rem(-400px);
        margin: auto;
        z-index: -40;
        width: rem(190px);
        height: rem(170px);

        @include media-breakpoint-down(md) {
            width: rem(122px);
            height: rem(110px);
            bottom: rem(-120px);
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
}
