.hero {
    &__wrap {
        @extend %container;

        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;

        @include media-breakpoint-down(md) {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__heading {
        font-size: rem(96px);
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -4px;
        max-width: rem(820px);

        @include media-breakpoint-down(lg) {
            font-size: rem(64px);
            max-width: rem(600px);
        }

        @include media-breakpoint-down(md) {
            text-align: center;
            font-size: rem(32px);
            letter-spacing: normal;
            max-width: rem(320px);
            margin: 0 auto;
        }

        img,
        svg,
        picture {
            display: block;
            margin-bottom: rem(40px);
            width: rem(225px);

            img {
                width: 100%;
                height: auto;
            }

            @include media-breakpoint-down(lg) {
                width: rem(180px);
                margin-bottom: rem(24px);
            }

            @include media-breakpoint-down(md) {
                width: rem(95px);
                margin: auto;
                margin-bottom: rem(20px);
            }
        }
    }

    &__imgs {
        position: relative;
        margin: auto;
        height: fit-content;

        @include media-breakpoint-down(md) {
            margin-top: rem(48px);
        }
    }

    &__phone-wrap {
        position: relative;
        height: fit-content;
        margin: auto;
        right: rem(-50px);

        @include media-breakpoint-down(lg) {
            right: 0;
            left: 0;
            width: fit-content;
            height: rem(330px);
        }
    }

    &__phone {
        display: block;
        width: fit-content;
        margin: auto;

        img {
            max-width: rem(499px);

            @include media-breakpoint-down(lg) {
                max-width: rem(340px);
            }

            @include media-breakpoint-down(md) {
                max-width: rem(220px);
            }
        }
    }

    &__push {
        position: absolute;
        left: rem(10px);
        top: rem(90px);
        filter: drop-shadow(rem(32px 24px 15px) rgba(#2c2c2c, 0.2));
        width: rem(366px);
        height: rem(226px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(lg) {
            top: rem(45px);
            left: rem(15px);
            width: rem(250px);
            height: rem(182px);
        }

        @include media-breakpoint-down(md) {
            top: rem(40px);
            left: rem(20px);
            width: rem(150px);
            height: rem(92px);
        }
    }

    &__donut {
        position: absolute;
        top: rem(-10px);
        right: rem(-140px);
        filter: drop-shadow(-5px 10px 15px rgba(#2c2c2c, 0.2));
        width: rem(185px);
        height: rem(185px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(lg) {
            right: rem(-40px);
            width: rem(85px);
            height: rem(85px);
        }
    }

    &__toaster {
        position: absolute;
        bottom: rem(130px);
        left: rem(-60px);
        filter: drop-shadow(rem(16px 15px 15px) rgba(#2c2c2c, 0.2));
        width: rem(244px);
        height: rem(244px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(lg) {
            bottom: rem(100px);
            left: rem(-35px);
            width: rem(140px);
            height: rem(140px);
        }

        @include media-breakpoint-down(md) {
            left: rem(-50px);
            bottom: rem(50px);
            width: rem(114px);
            height: rem(114px);
        }
    }

    &__airpods {
        top: rem(40px);
        left: rem(-140px);
        position: absolute;
        width: rem(200px);
        height: rem(215px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(lg) {
            left: rem(-60px);
            top: rem(-40px);
            width: rem(120px);
            height: rem(120px);
        }

        @include media-breakpoint-down(md) {
            left: rem(-40px);
            top: rem(-20px);
            width: rem(75px);
            height: rem(80px);
        }
    }

    &__cube {
        position: absolute;
        bottom: rem(140px);
        right: rem(-150px);
        width: rem(124px);
        height: rem(112px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(lg) {
            right: rem(-100px);
            bottom: 0;
            width: rem(85px);
            height: rem(80px);
        }
    }

    &__cone {
        position: absolute;
        left: rem(-200px);
        bottom: rem(-30px);
        width: rem(95px);
        height: rem(120px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(lg) {
            left: unset;
            right: rem(30px);
            bottom: rem(-50px);
            width: rem(34px);
            height: rem(48px);
        }
    }

    &__cheese {
        position: absolute;
        left: rem(-380px);
        top: 0;
        width: rem(340px);
        height: rem(320px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include media-breakpoint-down(lg) {
            left: rem(-60px);
            top: rem(-50px);
            width: rem(95px);
            height: rem(95px);
        }
    }
}
